<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%%= csrf_meta_tag() %>
    <%%= live_title_tag assigns[:page_title] || "<%= @app_module %>", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={routes().static_path(@conn, "/assets/css/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={routes().static_path(@conn, "/assets/js/app.js")}></script>
  </head>
  <body class="theme-light">
    <div class="page">
      <header class="navbar navbar-expand-md navbar-light d-print-none">
        <div class="container-xl">
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
          </button>
          <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
            <a href={routes().dashboard_page_path(@conn, :index)}>Company Logo</a>
          </h1>
          <div class="flex-row order-md-last">
            <.account_menu conn={@conn}/>
          </div>
          <.dashboard_menu conn={@conn}/>
        </div>
      </header>

      <div class="page-wrapper">
        <div class="container-xl">
          <div class="page-header d-print-none">
            <div class="row g-2 align-items-center">
              <div class="col">
                <div class="page-pretitle">
                  <%%= assigns[:page_pretitle] || "Dashboard" %>
                </div>
                <h2 class="page-title">
                  <%%= assigns[:page_title] || "Title" %>
                </h2>
              </div>
            </div>
          </div>
        </div>
        <div class="page-body">
          <div class="container-xl">
            <%%= @inner_content %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
